<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books {
            width: 50%;
            border-collapse: collapse;
        }

        table {
            margin: 25px;
        }

        th {
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div id="root_container">
    <div>
        <a th:href="@{/user/list}">Users</a>
    </div>

    <form method="post" th:action="@{/books/save}" th:object="${book}">
        <table>
            <tr>
                <td>
                    <input placeholder="author" th:field="*{author}" type="text">
                    <p th:if="${author_err}">Поле должно быть заполнено</p>
                </td>
                <td>
                    <input placeholder="book_title" th:field="*{title}" type="text">
                    <p th:if="${title_err}">Поле должно быть заполнено</p>
                </td>
                <td>
                    <input placeholder="size (pages)" th:field="*{size}" type="text">
                    <p th:if="${size_err}">Поле должно содержать цифры и быть меньше 4 знаков</p>
                </td>
                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove/id}" th:object="${bookIdToRemove}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="id number" th:field="*{id}">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p>Wrong id or not found</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove/author}" th:object="${bookAuthorToRemove}">
        <table>
            <tr>
                <td>
                    <input placeholder="author" type="text" th:field="*{author}">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p>Wrong id or not found</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove/title}" th:object="${bookTitleToRemove}">
        <table>
            <tr>
                <td>
                    <input placeholder="title" type="text" th:field="*{title}">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p>Wrong id or not found</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove/size}" th:object="${bookSizeToRemove}">
        <table>
            <tr>
                <td>
                    <input placeholder="size" type="text" th:field="*{size}">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p>Wrong id or not found</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/filter}">
        <table>
            <tr>
                <td>
                    <input placeholder="author" th:name="authorToFilter" type="text">
                </td>
                <td>
                    <input type="submit" value="filter">
                </td>
            </tr>
            <tr>
                <td>
                    <input placeholder="title" th:name="titleToFilter" type="text">
                </td>
                <td>
                    <input type="submit" value="filter">
                </td>
            </tr>
            <tr>
                <td>
                    <input placeholder="size" th:name="sizeToFilter" type="text">
                </td>
                <td>
                    <input type="submit" value="filter">
                </td>
            </tr>
        </table>
    </form>

    <form method="get" th:action="@{/books/shelf}">
        <table>
            <tr>
                <td>
                    <input type="submit" value="reset filter">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/uploadFile}" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    <input type="file" name="file"/>
                </td>
                <td>
                    <input type="submit" value="Upload">
                    <p th:if="${file_upload_err}">Не выбран файл для загрузки</p>
                </td>
            </tr>
        </table>
    </form>


    <table id="books">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.size}"></td>
        </tr>
    </table>
</div>
</body>
</html>